<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Panier</li>
        <a href="{{ path('ppe_commerce_panier') }}">
            <img src="{{ asset('img/miniPanier.png')}}" alt="panier"/><div style="display:inline; width:1.3em" >{{ articles }}</div>
        </a>
    </ul>
</div>